//
// Color variables
// ==========================================================================

// Main colors
$primary-color: rgba(0,0,0,.7);
$secondary-color: #757575;
$tertiary-color: #888cb1;

// Messages colors
$info-color: #5a5e6a;
$warning-color: yellow;
$danger-color: #f34e3C;
$success-color: #10b683;

// Neutral colors
$inverse-color: #fff;
$neutral-color: #f1f2f9;

$bg-neutral: $inverse-color;
$bg-dark-color: #3d404f;
